* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
}

section {
    padding: 120px 80px;
    text-align: center;
}

.section-line{
width:300px;
height:5px;
background:#333;
margin:20px auto 60px auto;
border-radius:5px;
}

.reveal{
opacity:0;
transform: translateY(40px);
transition:0.6s ease;
}

.reveal.active{
opacity:1;
transform: translateY(0);
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-container {
    width: 95%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(32, 32, 32, 0.75);
    color: white;
    padding: 20px 40px;
    border-radius: 45px;
    font-size: 25px;
}

.nav-container a {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-container a:hover {
    color: rgb(158, 157, 157);
    text-decoration: none;
    transform: scale(1.2);
}

.nav-social a {
    color: white;
    margin: 0 10px;
    font-size: 25px;
}

.nav-social a:hover {
    color: #abaaaa;
    transform: scale(1.5);
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a.active{
color:#fff;
position:relative;
}

nav a.active::after{
content:"";
position:absolute;
left:0;
bottom:-5px;
width:100%;
height:2px;
background:white;
}

/* HERO */

.hero {
    position: relative;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background:
        /* semi-circle light from bottom */
        radial-gradient(ellipse at 50% 110%,
            rgba(255, 255, 255, 0.35) 0%,
            rgba(255, 255, 255, 0.15) 25%,
            rgba(0, 0, 0, 0.3) 55%,
            rgba(0, 0, 0, 0.85) 85%),

        /* dark top overlay */
        linear-gradient(to bottom,
            #000 0%,
            #111 30%,
            #000 100%);
}

/* big hero text */

.hero-title {
    position: absolute;
    font-size: 8vw;
    /* responsive text */
    font-weight: 350;
    color: rgba(255, 255, 255, 0.15);
    white-space: nowrap;
    padding-bottom: 180px;
}

/* image */

.hero-img {
    position: absolute;
    bottom: 0;
    width: 40vw;
    max-width: 650px;
    min-width: 250px;
    z-index: 2;
}

/* buttons */

.hero-buttons {
    position: absolute;
    left: 150px;
    bottom: 150px;
    display: flex;
    gap: 20px;
}

/* button style */

.btn {
    padding: 10px 25px;
    border: 1px solid #555;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 30px;
}

.btn-outline {
    padding: 10px 25px;
    border: 1px solid #555;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 30px;
}

/* hero section hover */

.btn:hover,
.btn-outline:hover {
    background: rgb(107, 107, 107);
    color: black;
}

.hero-title span {
    color: rgba(255, 255, 255, 0.35);
}

/*section styling */
section {
    padding: 120px 80px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

/* background lighting effect */
section::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        radial-gradient(ellipse at 50% 120%,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.08) 25%,
            rgba(0, 0, 0, 0.15) 60%,
            rgba(0, 0, 0, 0.4) 100%);

    pointer-events: none;
}


/* ABOUT */
.about {
    height: 95vh;
    background-color: #888888;
    padding: 80px 10%;

}

.about-title {
    font-size: 80px;
    color: #302f2f;
    padding-bottom: -50px;
}

.about-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    max-width: 1500px;
    margin: auto;
}

.about-image img {
    width: 500px;
    height: auto;
    border-radius: 12px;
}

.about-text {
    width: 950px;
    text-align: left;
    line-height: 1.5;
    font-size: 26px;
}

/* TECH */

.tech {
    position: relative;
    overflow: hidden;
    background: #888888;
    padding: 40px 0;
}

.tech::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;

    background: linear-gradient(to right,
            #888888,
            transparent);

    z-index: 2;
}

.tech::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 100%;

    background: linear-gradient(to left,
            #888888,
            transparent);

    z-index: 2;
}

.tech-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 10rem;
    width: max-content;
    font-size: 40px;
    animation: animate 20s linear infinite;
    gap: -2rem;

}

/* pause animation on hover */
.tech:hover .tech-track {
    animation-play-state: paused;
}

/* infinite scroll */
@keyframes animate {

    to {
        transform: translateX(calc(-5*(16rem - 1rem)));
    }
}

/* glowing icons */
.tech-track i {
    color: #222;
    transition: 0.3s;
}

.tech-track i:hover {
    color: #4f4f4f;
    transform: scale(1.3);

    text-shadow:
        0 0 10px #cecece,
        0 0 20px #a6a6a6,
        0 0 30px #838383;
}

/* PROJECTS */

.projects {
    background: #888888;
    padding: 80px 10%;
}

.project-title {
    font-size: 70px;
    color: #302f2f;
    padding-bottom: -50px;
    text-align: center;


}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1300px;
    margin: auto;
}

.project-card {
    background: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.project-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.project-card:hover .project-image img {
    transform: scale(1.08);
}

.terminal-container {
  background: #000;
  color: #00ff88;
  font-family: monospace;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
}

.terminal-header {
  color: #00ffff;
  margin-bottom: 10px;
}

#terminal-output {
  min-height: 200px;
}

.terminal-input-line {
  display: flex;
  margin-top: 10px;
}

.terminal-input-line span {
  margin-right: 5px;
}

#terminal-input {
  background: transparent;
  border: none;
  color: #00ff88;
  outline: none;
  width: 100%;
  font-family: monospace;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.card-content h3 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.card-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 15px;
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-tech {
    margin-top: auto;
    padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tech-skill {
    background: #000;
    color: white;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 20px;
    margin-right: 6px;
}

.card-buttons {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.card-buttons a {
    text-decoration: none;
    border: 1px solid #000;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 15px;
    margin-right: 8px;
    color: #000;
    transition: 0.3s;
}

.card-buttons a:hover {
    background: #000;
    color: white;
}

/* SERVICES */

.services {
    height: 95vh;
    background: #888888;
    padding: 100px 20%;
    text-align: center;
}

.services-title {
    font-size: 80px;
    color: #302f2f;
    margin-bottom: -20px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1250px;
    margin: auto;
}

.service-card {
    background: #fff;
    border-radius: 14px;
    padding: 40px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.service-card:hover{
transform: translateY(-10px);
box-shadow:
0 20px 40px rgba(0,0,0,0.15),
0 0 15px rgba(0,0,0,0.1);
}

.service-card i {
    color: #444;
    font-size: 50px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.service-card h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.service-card p {
    color: #555;
    line-height: 1.5;
    font-size: 18px;
}


/* CONTACT */

.contact {
    height: 95vh;
    background: #585858;
    padding: 170px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-title {
    color: rgb(40, 40, 40);
    font-size: 80px;
    margin-bottom: -20px;
}

.contact-container {
    display: flex;
    grid-template-columns: 1fr 400px;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    color: rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    padding-left: 10px;
    gap: 20px;
}

.contact-info1 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact-icon {
    padding: 0px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    padding-right: 55px;

}

.input-box {
    position: relative;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 20px 10px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #555;
    background: #111;
    color: white;
    outline: none;
}

.input-box textarea {
    height: 20vh;
    width: 100%;
    padding: 20px 10px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #555;
    background: #111;
    color: white;
    outline: none;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 18px;
    color: #aaa;
    background: #111010;
    padding: 0 6px;
    transition: 0.3s;
    pointer-events: none;
}

/* Floating effect */
.input-box input:focus+label,
.input-box input:valid+label,
.input-box textarea:focus+label,
.input-box textarea:valid+label {
    top: -10px;
    font-size: 20px;
    font-weight: 2px;
    color: #000000;
    background-color: #585858;
}

.contact-form button {
    padding: 12px;
    height: 55px;
    border-radius: 12px;
    font-size: 25px;
    background: rgb(68, 68, 68);
    color: white;
    border: none;
}

.contact-form button:hover {
    background-color: #000;
}

/* FOOTER */

footer {
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 85px;
}

#footer-text {
    display: flex;
    gap: 20px;
    font-size: 25px;
}

.footer-social a {
    color: white;
    margin: 0 10px;
    font-size: 25px;
}

.footer-social a:hover {
    color: #aaa;
}

/* MEDIA QUERIES */
@media (max-width:1100px) {

    .about-grid {
        flex-direction: column;
        gap: 50px;
    }

    .about-image img {
        width: 350px;
    }

    .about-text {
        width: 90%;
        font-size: 20px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-title {
        font-size: 10vw;
    }

    .hero-img {
        width: 450px;
    }

    .hero-buttons {
        left: 50%;
        transform: translateX(-50%);
        bottom: 120px;
    }

}

@media (max-width:768px) {

    section {
        padding: 100px 25px;
    }

    .nav-container {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
    }

    .hero-title {
        font-size: 12vw;
        text-align: center;
        padding-bottom: 200px;
    }

    .hero-img {
        width: 300px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
    }

    .btn,
    .btn-outline {
        font-size: 18px;
        padding: 8px 18px;
    }

    .about-image img {
        width: 260px;
    }

    .about-text {
        font-size: 18px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .contact-container {
        flex-direction: column;
        gap: 40px;
    }

    .contact-form {
        width: 100%;
        padding: 0;
    }

    footer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

}

@media (max-width:768px) {

    .nav-container {
        padding: 15px 25px;
        border-radius: 30px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

}
